<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   <link rel="stylesheet" href="../../css/style.css">
   <title>Document</title>
</head>

<body>

   <!--Seccion de navegacion-->
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <a class="nav-link active" aria-current="page" href="#">
         <img src="../../api/image/vacaputa.png" alt="" width="60" height="60" class="container-fluid">
      </a>
      <div class="container-fluid">
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
               <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="../../views/publico/inicio.html"><i
                        class="bi bi-house-door">Inicio</i>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="../../views/publico/catalogo.html"><i
                        class="bi bi-journal-text">Catalogo</i>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" aria-current="page" href=""><i class="bi bi-front">Categoria</i></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="../../views/publico/nosotros.html"><i
                        class="bi bi-people-fill">Acerca
                        de
                        Nosotros</i></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="" type="button"
                  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                  aria-controls="offcanvasRight"><i class="bi bi-cart4">Carrito</i></a>
               </li>
            </ul>
         </div>
      </div>
   </nav>

   <center>
      <p style="margin-bottom: 8%;">Categoria de Producto</p>
   </center>

   <!--Aqui se muestra el producto con todas sus categorias-->
   <div class="michasee">
      <img src="../../api/image/morolique.png" alt="" class="caserolasss" style="width: 230px; height: 190px;">

      <h4 class="disfrutaa">Queso Morolique<br>hecho en San Jacinto<br><br>
         <center>Lacteo<br><br>$3.75 lb
            <div> <br><button class="btn btn grande" style="background: #D0FDD7;" type="button"
                  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                  aria-controls="offcanvasRight">agregar al<i
                     class="bi bi-cart4"></i></button></div>
      </h4>
      </center>
   </div>


   <div class="unoentodo">
      <div class="descripcion">
         <a href="" class="des">descripcion:</a>
         <a href="" class="des">Caracteristicas:</a>
      </div>
      <h7 class="este">Este es un producto lacteo</h7>
   </div>


   <!--Esta es una pequeña seccion de otros productos que se pueden ver-->
   <p class="recomendado">Productos Recomendados</p>

   <div class="containerr">
      <div class="card">
         <figure>
            <img src="../../api/image/duro chile.png" alt="">
         </figure>
         <div class="contenido">
            <h3>Queso con Chile</h3>
            <p>Es tan delicioso que no pararas de comerlo toda una semana completa</p>
            <a href="" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight">Agregar al<i class="bi bi-cart4"></i></a>
         </div>
      </div>
      <div class="card">
         <figure>
            <img src="../../api/image/cuajadaa.png" alt="">
         </figure>
         <div class="contenido">
            <h3>Cuajada</h3>
            <p>Es tan delicioso que no pararas de comerlo toda una semana completa</p>
            <a href="" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight">Agregar al<i class="bi bi-cart4"></i></a>
         </div>
      </div>
      <div class="card">
         <figure>
            <img src="../../api/image/pura.png" alt="">
         </figure>
         <div class="contenido">
            <h3>Crema Pura</h3>
            <p>Es tan delicioso que no pararas de comerlo toda una semana completa</p>
            <a href="" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight">Agregar al<i class="bi bi-cart4"></i></a>
         </div>
      </div>
   </div>

   <div data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></div>

   <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
         <h5 class="offcanvas-title" id="offcanvasRightLabel">Carrito de Compras</h5>
         <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="elcarro">
         <img src="../../api/image/morolique.png" alt="" class="cuajadacarro">
         <p class="carritomamon">Queso Morolique <br>$3.75</p>
      </div>
      <div class="elcarro">
         <img src="../../api/image/parmesano (1).png" alt="" class="cuajadacarro">
         <p class="carritomamon">Queso Parmesano <br>$3.25</p>
      </div>
      <div class="elcarro">
         <img src="../../api/image/moza (1).png" alt="" class="cuajadacarro">
         <p class="carritomamon">Queso Mozarella <br>$4.00</p>
      </div>
      <div class="comprar">
         <a href="" class="comprita">Comprar<i class="bi bi-whatsapp"></i></a>
      </div>
      <div class="comprares">
         <a href="" class="compritaa">Vaciar Carrito<i class="bi bi-trash"></i></a>
      </div>
      <div class="offcanvas-body">
      </div>
   </div>

   <footer>
      <div class="footer-content">
         <center>
            <h3>Lacteos Doña Queso</h3>
         </center>
         <p>Este año empezamos con la distrubucion de los mejores lacteos en toda ciudad ya que son productos
            100%
            natural</p>
         <ul class="socials">
            <li><a href="https://www.facebook.com/profile.php?id=61557180795985&mibextid=ZbWKwL"><i
                     class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="https://chat.whatsapp.com/Ja1XaBabc690ruCBIbzXcf"><i class="bi bi-whatsapp"></i></a></li>
            <li><a href="https://www.instagram.com/papiriki22?igsh=eDJieml6MTIyeGNj"><i class="bi bi-instagram"></i></a>
            </li>
            <li><a href="https://www.tiktok.com/@teclas568?_t=8krtubotSgX&_r=1"><i class="bi bi-tiktok"></i></a></li>
         </ul>
      </div>
      <div class="footer-bottom">
         <p style="font-family: Arial;">copyright &copy;2024 Lacteos Doña Queso. designed by
            <span>Quesos</span>
         </p>
      </div>
   </footer>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

</body>

</html>