<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="../../css/style.css">
</head>

<body class="año">


      <!--Aqui la estructura de el login de iniio de los clientes-->
      <main class="hero">
            <div class="cortina">
                  <div class="info">
                        <hr>
                  </div>
                  <form class="formm">
                        <h2>Bienvenido</h2>
                        <p>Lacteos Doña Queso</p>
                        <div class="inputt">
                              <input type="correo" class="box" placeholder="Ingrese su Correo">
                              <input type="password" class="box" placeholder="Ingrese su Contraseña">
                              <a href="#">¿Olvido su Contraseña?</a>
                              <a href="#">Crear Cuenta</a>
                              <a href="../../views/publico/inicio.html" class="btn ilove">Iniciar Sesion</a>
                        </div>
                  </form>

            </div>

      </main>
</body>

</html>